<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="ConsoleRef" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                {"parentrequest_id":"%X{parentrequest.id}", "request.id":"%X{request.id}", "timestamp":"%black(%d{ISO8601})", "level":"%highlight(%-5level)","thread":"[%blue(%t)]",  "class":"%yellow(%C{1.})", "message":%msg}%n%throwable
<!--                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable-->
            </Pattern>
        </layout>
    </appender>
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logs.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>{"parentrequest_id": "%X{parentrequest.id}" ,"request_id":"%X{request.id}" ,"timestamp": "%d{ISO8601}", "level":" %p" ,"thread":"%t", "class":"%c","message": %m}%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            rollover daily and when the file reaches 10 MegaBytes
            <fileNamePattern>logs/logs.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "com.thoughtworks*" at TRACE level -->
    <logger name="com.thoughtworks" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="ConsoleRef" />
    </logger>

    <logger name="org.apache" level="info" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="ConsoleRef" />
    </logger>

</configuration>


